@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="text-center">
    <!-- http://patorjk.com/software/taag/#p=display&h=2&v=0&f=ANSI%20Shadow&t=Storage%20Account%20-%20HNS%20(Data%20Lake) -->
    <pre class="banner">

 █████  ██████  ██████  ██      ██  ██████  █████ ████████ ██  ██████  ███    ██     ██ ███    ██ ███████ ██  ██████  ██   ██ ████████ ███████ 
██   ██ ██   ██ ██   ██ ██      ██ ██      ██   ██   ██    ██ ██    ██ ████   ██     ██ ████   ██ ██      ██ ██       ██   ██    ██    ██      
███████ ██████  ██████  ██      ██ ██      ███████   ██    ██ ██    ██ ██ ██  ██     ██ ██ ██  ██ ███████ ██ ██   ███ ███████    ██    ███████ 
██   ██ ██      ██      ██      ██ ██      ██   ██   ██    ██ ██    ██ ██  ██ ██     ██ ██  ██ ██      ██ ██ ██    ██ ██   ██    ██         ██ 
██   ██ ██      ██      ███████ ██  ██████ ██   ██   ██    ██  ██████  ██   ████     ██ ██   ████ ███████ ██  ██████  ██   ██    ██    ███████ 
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        
     </pre>
    <p></p>
    <p>Click on the link below to see the Application Insights Map</p>
    <p></p>
    <input type="button" value="Show me" class="btn btn-success" onclick=window.location.href='https://portal.azure.com/#AzureCloud4Experiments.onmicrosoft.com/resource/subscriptions/e0ac8990-a061-479a-8968-7ff5138539fe/resourceGroups/RG-SIS-App-DRDP-002/providers/microsoft.insights/components/appinsightsfortunedemo/applicationMap'/>
    <p></p>
</div>